<!-- public/views/main.html --> <!--
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-body">
				Yo
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<div id="scheduler_here" class="dhx_cal_container">
          <div class="dhx_cal_navline">
              <div class="dhx_cal_date"></div>
          </div>
          <div class="dhx_cal_header"></div>
          <div class="dhx_cal_data"></div>       
        </div>
			</div>
		</div>
	</div>
</div> -->